<div class="container">
    <!--
                    Developers
                -->
    <h3 class="mt-4">Developers</h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <th>Zehua Chen</th>
                <td>Web app front end, setting up server</td>
            </tr>
            <tr>
                <th>Alex Magganas</th>
                <td>Eye Diagnostic Algorithm</td>
            </tr>
            <tr>
                <th>Ananmay Jain</th>
                <td>Eye Diagnostic Algorithm</td>
            </tr>
        </tbody>
    </table>

    <!--
                    Dependencies
                -->
    <h3 class="mt-4">Dependencies</h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Dependency</th>
                <th>Link</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <th>Angular 4</th>
                <td><a class="badge badge-light" href="https://angular.io">https://angular.io</a></td>
            </tr>
            <tr>
                <th>Bootstrap</th>
                <td><a class="badge badge-light" href="https://getbootstrap.com">https://getbootstrap.com</a></td>
            </tr>
            <tr>
                <th>OpenCV</th>
                <td><a class="badge badge-light" href="https://opencv.org">https://opencv.org</a></td>
            </tr>
        </tbody>
    </table>

</div>