<form>
    <div>
        <h5>Settings</h5>
        <!--
            Settings: should the client automatically send new frames
            to the server?
        -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Automatic Test</label>
            <label class="form-text text-muted">
                Automatically send image of your face to the server
                for diagnostic process.
            </label>
        </div>

        <!--
            Settings: How fast should the client send automatic update 
            to the server?
        -->
        <div class="form-group">
            <label class="form-text">Refresh Rate (Times per Second)</label>
            <input class="form-control" type="text" placeholder="2">
        </div>
    </div>
</form>