<div class="container">
    <div class="row justify-content-center">
        <h1 class="display-3 pb-2 pt-5">Where are You Looking at?</h1>

        <h5 class="pb-5">
            Ever feel your eyes are not aligned? Come to the right place!
        </h5>
    </div>
    <div class="row">

        <div class="card-deck">

            <!--
              Card: What is Strabismus?
            -->

            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">What is Strabismus?</h5>
                    <p class="card-text">
                        Strabismus, also known as crossed eyes, is a condition in which the eyes do not properly align with each other when looking
                        at an object.
                        <a class="badge badge-dark" href="https://en.wikipedia.org/wiki/Strabismus">From Wikipedia</a>
                    </p>
                </div>
            </div>

            <!--
              Card: What causes Strabismus?
            -->

            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">What Causes Strabismus?</h5>
                    <p class="card-text">
                        Strabismus can be seen in
                        <a class="badge badge-info" href="https://en.wikipedia.org/wiki/Down_syndrome">Down syndrome</a>,
                        <a class="badge badge-info" href="https://en.wikipedia.org/wiki/Loeys–Dietz_syndrome">Loeys-Dietz syndrome</a>,
                        <a class="badge badge-info" href="https://en.wikipedia.org/wiki/Cerebral_palsy">cerebral palsy</a>, and
                        <a class="badge badge-info" href="https://en.wikipedia.org/wiki/Edwards_syndrome">Edwards syndrome</a>. The risk is increased among those with a family history of the condition
                        <a class="badge badge-dark" href="https://en.wikipedia.org/wiki/Strabismus">From Wikipedia</a>
                    </p>
                </div>
            </div>


            <!--
              Card: Ways to Treat Strabismus?
            -->

            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Ways to Treat Strabismus</h5>
                </div>
            </div>
        </div>

    </div>

    <!--
        How does our treatment work?
    -->

    <div class="row pt-2">
        <h3>How Does our Process Works?</h3>
    </div>

    <div class="row justify-content-center text-center">
        <div class="col">
            <h4>Step 1</h4>
            <p>Something happens</p>
        </div>
        <div class="col">
            <h4>Step 2</h4>
            <p>Something happens</p>
        </div>
        <div class="col">
            <h4>Step 3</h4>
            <p>Something happens</p>
        </div>
    </div>

    <!--
        A link to the diagnostic page.
    -->

    <div class="row justify-content-center">
        <div class="text-center">
            <h1 class="display-3 pb-2 pt-5">Start Your Treatment</h1>
            <p class="text-muted">Please make sure you are on a device with a web cam.</p>
            <a class="btn btn-outline-dark" routerLink="/diagnostic">Begin</a>
        </div>

    </div>
</div>